@font-face {
  font-family: "Gilroy";
  src:
    url("../web/gilroyextrabold.woff"),
    url("../web/gilroyextrabold.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Light";
  src:
    url("../web/gilroylight.woff"),
    url("../web/gilroylight.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src:
    url("../web/opensans.woff"),
    url("../web/opensans.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Light";
  src:
    url("../web/opensanslight.woff"),
    url("../web/opensanslight.woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.anchor {
  text-decoration: none;
  color: #000000;
}

.anchor:hover,
.anchor:focus {
  color: rgba(0, 0, 0, 0.6);
}
.anchor:active {
  color: rgba(0, 0, 0, 0.3);
}
.lists {
  list-style: none;
  padding: 0;
}
.main-header {
  position: relative;
  margin: 20px auto;
  width: 1160px;
}
.main-header::after {
  content: "";
  position:absolute;
  top: 19px;
  width: 1160px;
  height: 299px;
  background-color: rgb(240, 197, 46, 0.5);
  z-index: -1;
}
.inner-header::after {
  height: 186px;
}
.main-footer {
  background-color: #464646;
  min-height: 323px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.main-footer p {
  letter-spacing: normal;
  color: #ffffff;
}
.info-links,
.slide a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.footer-user-interactive a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-user-interactive a:hover,
.footer-user-interactive a:focus {
  color: #ffffff;
}
.footer-info-links a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-info-links a:hover,
.footer-info-links a:focus {
  color: rgba(255, 255, 255, 0.6);
}
.footer-user-interactive a:active,
.footer-info-links a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.slide-li p:first-child {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
}
.slide-li p:last-child {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}
.category-list a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.service-description h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}
.about-us h2,
.contacts h2,
.main-navigation h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}
.transport li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: normal;
  color: #000000;
}
 .pages-links a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
 }
.pages-links a:hover,
.pages-links a:focus {
  color: rgba(0, 0, 0, 0.6);
}
.pages-links a:active {
  color: rgba(0, 0, 0, 0.1);
}
.filter h2,
.items h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
}
.filter-title,
.item-card-anchor {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.filter label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}
.filter fieldset {
  border: none;
}
.current-page:hover,
.current-page:focus {
  color: #000000;
}
.partners-list {
  display: flex;
  flex-wrap: wrap;
}
.partners-list a {
  display: block;
  width: 160px;
  padding: 50px;
}
.partner {
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}
.partner:nth-child(2) {
  margin: 0 40px;
}
.partner:nth-child(3) {
  margin-right: 40px;
}
.dji {
  background-image: url("../img/partner-1.jpg");
}
.sp-gadgets {
  background-image: url("../img/partner-2.jpg");
}
.gopro {
  background-image: url("../img/partner-3.jpg");
}
.vive {
  background-image: url("../img/partner-4.jpg");
}
.button {
  border: none;
  width: 12px;
  height: 12px;
  padding: 0;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #ffffff;
}
.active-button {
  position: relative;
}
.active-button::after {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 2px;
  height: 2px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #ffffff;
}
.category-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.category-list .anchor {
  display: block;
  width: 160px;
}
.category-list .anchor::before {
  display: block;
  content: "";
  width: 160px;
  height: 160px;
  background-color: rgb(240, 197, 46, 0.5);
  background-repeat: no-repeat;
  margin-bottom: 32px;
}
.category1::before {
  background-image: url("../img/popular-1.svg");
  background-position: center;
}


.category2::before {

  background-image: url("../img/popular-2.svg");
  background-position:  bottom center;
}
.category3::before {

  background-image: url("../img/popular-3.svg");
  background-position: center;
}
.category4::before {

  background-image: url("../img/popular-4.svg");
  background-position: center;
}
.category5::before {

  background-image: url("../img/popular-5.svg");
  background-position: center;
}
.category6::before {

  background-image: url("../img/popular-6.svg");
  background-position: center;
}
.services-button {
  /* display: flex;
  justify-content: flex-end; */
  border: none;
  min-width: 160px;
  margin-bottom: 55px;
  position: relative;
  background-color: transparent;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  /* padding-right: 119px; */
}
.services-button::before {
  position: absolute;
  top: 9px;
  left: 0;
  content: "";
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  z-index:-1;
}
.active-services-button {
  color: #f7e184;
}
.active-services-button::before {
  position: absolute;
  top: -6px;
  content: "";
  width: 278px;
  height: 40px;
  background-color: #000000;
}

.filter-button {
  min-width: 200px;
  z-index: 3;
}
.filter-button::before {
  width: 200px;
  height: 8px;
}
.info-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.detail-button {
  width: 220px;
  padding-left: 5px;
}
.catalog-button {
  margin-left: 12px;
  border: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url(../img/plus.svg);
  opacity: 0.3;
}
.sort {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}
.sort-active {
  color: #000000;
}
.pagination-anchor {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.page-numbers {
  color: rgba(0, 0, 0, 0.3);
}
.pagination-item-current .pagination-anchor {
  color: #000000;
}
.social{
  display: flex;
}
.social a {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.fb {
  margin-right: 23px;
  background-image: url(../img/fb.svg);
}
.instagram {
  margin-right: 22px;
  background-image: url(../img/instagram.svg);
}
.twitter {
  background-image: url(../img/twitter.svg);
}
.feedback-button {
  min-width: 260px;
}
.feedback-button::before {
  width: 260px;
  height: 8px;
}
.login-anchor {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 26px;
}
.login-anchor:hover,
.login-anchor:focus,
.compare-anchor:hover,
.compare-anchor:focus,
.cart-anchor:hover,
.cart-anchor:focus {
  opacity: 0.6;
}
.login-anchor:active,
.compare-anchor:active,
.cart-anchor:active {
  opacity: 0.3;
}
.interactive-login {
  margin-left: 20px;
}
.interactive-compare {
  margin-left: auto;
  margin-right: 42px;
}
.compare-anchor {
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding-left: 20px;
}
.cart-anchor {
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 22px;
}
.footer-login-anchor {
  background-image: url(../img/footer-user.svg);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 26px;
}
.footer-compare-anchor {
  background-image: url(../img/footer-compare.svg);
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding-left: 20px;
}
.footer-cart-anchor {
  background-image: url(../img/footer-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 24px;
}

.logo-anchor:hover,
.logo-anchor:focus {
  opacity: 0.6;
}
.logo-anchor:active {
  opacity: 0.3;
}
.search {
  display: flex;
  position: absolute;
  top: 70px;
  left: 60px;
}
.search-field {
  border: none;
  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  padding-left: 36px;
  font-family: "OpenSans", "Arial", sans-serif;
}
.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-field:focus {
  color: inherit;
  border-bottom: 2px solid #000000;
  width: 356px;
  outline: 0;
}
.search-button {
  visibility: hidden;
  border: none;
  background-color: transparent;
}
.search-field:focus + .search-button {
  visibility: visible;
  border: 2px solid #000000;
  background-color: transparent;
  padding: 14px 17px;
  transition: 0.5s
}
.search-field:focus + .search-button:hover {
  color: #ffffff;
  background-color: #000000;
}
.search-field:focus + .search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}
.header-navigation {
  display: flex;
  min-height: 186px;
}
.header-block1 {
  width: 50%;
  padding-left: 57px;
}
.header-block2 {
  width: 50%;
  padding-right: 61px;
}
.user-interactive {
  display: flex;
  justify-content: flex-start;
  margin-top: 63px;
}
.logout-anchor {
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.footer-user-interactive .footer-logout-anchor {
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.3);
}
.services-links {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.service-delivery {
  margin-left: 20px;
}
.service-warranty {
  margin-left: 34px;
}
.service-contacts {
  margin-left: auto;  
}
.catalog-item-categories {
  position: absolute;
  display: none;
  align-items: flex-start;
  min-height: 129px;
  background-color: #f7e296;
  width: 100%;
}
.categorie-list {
  margin: 0;
}
.item-categorie:first-child {
  margin-left: 60px;
}
.item-categorie:nth-child(2) {
  margin-left: 58px;
  margin-right: 77px;
}
.slides {
  width: 100%;
  max-width: 988px;
  margin: 0 auto;
}
.slide {
  display: flex;
  margin: 0 auto;
}
.slide-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000000;
  padding-top: 34px;
  margin: 47px 0 0 2px;
  max-width: 397px;
}
.slide-text {
  padding: 3px 0 0 2px;
}
.slider-pagination {
  display: flex;
  padding-right: 10px;
}
.second-switch {
  padding: 0 21px;
}
.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}
.popular-description {
  position: relative;
  margin-left: 125px;
  z-index: -1;
  width: 100%;
  min-width: 490px;
}
.popular-description::before {
  display: block;
  content: "";
  position:absolute;
  top: 40px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}
.slide:first-child .popular-description::after {
  position: absolute;
  top: -12px;
  right: -27px;
  content: "01";
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 179px;
  letter-spacing: 1.79px;
  text-align: right;
  color: #ffffff;
}
.category-item-list {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 100px;
}
.partners {
  width: 100%;
  max-width: 1157px;
  margin: 0 auto;
}
.features {
  display: flex;
  padding: 0;
  margin-top: 40px;
}
.slide-li p {
  padding: 0;
  margin: 0;
}
.slide-li p:nth-child(2) {
  padding-top: 6px;
}
.slide-li:first-child {
  margin-left: 2px;
  margin-right: 79px;
}
.slide-li:first-child p:nth-child(2) {
  padding-left: 2px;
}
.slide-li:nth-child(3) {
  margin-left: 75px;
}
.slide-li:nth-child(3) p:nth-child(2) {
  padding-left: 3px;
}
.services {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 169px;
  margin-top: 110px;
}
.service-description {
  width: 426px;
  margin-left: 117px;
}
.services::after {
  display: block;
  margin-left: 132px;
  margin-top: 60px;
  content: "";
  width: 136px;
  height: 164px;
  object-fit: contain;
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
}
.services::before {
  position: absolute;
  top: 75px;
  content: "";
  width: 1440px;
  height: 288px;
  background-color: #e5e5e5;
  z-index: -1;
}
.services-list {
  position: relative;
  padding-top: 45px;
}
.services-list::after {
  position: absolute;
  top: -15px;
  right: 0;
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000000;
}
.services-list-block {
  min-width: 285px;
  margin-left: 140px;
}
.information {
  display: flex;
  width: 100%;
  max-width: 1161px;
  margin: 0 auto;
}
.about-us {
  width: 462px;
}
.about-us::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}
.contacts {
  width: 560px;
  margin-left: 139px;
}
.contacts::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}
.footer-firstline {
  padding-top: 45px;
  padding-left: 139px;
  padding-right: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-user-interactive {
  display: flex;
}
.footer-compare {
  margin-left: 44px;
  margin-right: 41px;
}
.footer-secondline {
  margin-top: 5px;
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
}
.footer-info-links {
  display: flex;
}
.footer-warranty {
  margin: 0 38px;
}
.footer-thirdline {
  padding-left: 139px;
  padding-right: 140px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-thirdline::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}
.pages-links {
  display: flex;
}
.arrow {
  margin-left: 16px;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 19px;
}
.items-box {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.filter {
  background-color: #ebebeb;
}
.filters {
  width: 200px;
  padding-left: 200px;
  padding-right: 67px;

}
.section-title {
  margin-top: 0;
  background-color: #d9d9d9;
  text-align: center;
  padding: 30px 0;
}
.range-slider {
  width: 22px;
  height: 20px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
}
.range-full {
  display: flex;
  width: 196px;
  height: 2px;
  background-color: #dbdbdb;
}
.range-part {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}
.sorting-form {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ebebeb;
  padding: 17px 0;
  width: 972px;
}
.sorting-form-title {
  margin-left: 74px;
  margin-right: 55px;
  padding: 0;
}

.type {
  margin-left: 29px;
  margin-right: 31px;
}
.sorting-direction {
  display: flex;
  margin-right: 139px;
  margin-left: auto;
}
.up {
  display: block;
  width: 10px;
  height: 11px;
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.down {
  display: block;
  width: 10px;
  height: 11px;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 19px;
}
.current-direction {
  opacity: 0.2;
}
.catalog-navigation {
  margin: 0 auto;
  width: 1100px;
  padding-left: 60px;
}
.color-check {
  display: flex;
  flex-direction: column;
}
.bt-check {
  display: flex;
  flex-direction: column;
}
.selfies {
  display: flex;
  flex-wrap: wrap;
  padding-top: 69px;
  padding-left: 73px;
}
.catalog-item {
  margin-bottom: 49px;
}
.price {
  font-family: "Gilroy-Light", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}
.catalog-item:nth-child(odd) {
  margin-right: 39px;
}

.pagination-list {
  margin-left: 73px;
  display: flex;
  width: 759px;
  background-color: #ebebeb;
  padding-top: 30px;
  padding-bottom: 27px;
}
.pagination-back {
  margin-left: 30px;
  margin-right: auto;
}
.pagination-next {
  margin-right: 29px;
  margin-left: auto;
}
.pagination-central-number {
  margin: 0 31px;
}
.catalog-container {
  margin-top: 85px;
}
.feedback {
  padding: 0;
  position: relative;
  width: 960px;
  height: 553px;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

}
.feedback-form {
  padding-left: 101px;
  padding-top: 99px;
}
.modal-close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  border: none;
  background-color: transparent;
  width: 55px;
  height: 55px;
  opacity: 0.5;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
}
.modal-submit {
  min-width: 200px;
  margin-top: 43px;
}
.modal-submit::before {
  width: 200px;
  height: 8px;
}

.modal-text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
}
.person-mainbox {
  display: flex;
  justify-content: flex-start;
}

.email-box {
  margin-left: 40px;
}
.person {
  width: 360px;
  height: 50px;
  background-color: #e5e5e5;
  box-shadow: none;
  border: none;
}
.modal-text-box {
  margin-top: 36px;
}
.feedback-text-input {
  background-color: #e5e5e5;
  border: none;
  resize: none;
  width: 760px;
  height: 156px;
}
.color-check label {
  padding-left: 41px;
  background: url(../img/checkbox-off.svg) no-repeat 0 8px;
}
.color-checkbox:checked + label {
  background: url(../img/checkbox-on.svg) no-repeat 0 8px;
}
.bt-check label {
  padding-left: 41px;
  background: url(../img/radio-off.svg) no-repeat 0 8px;
}
.radio:checked + label {
  background: url(../img/radio-on.svg) no-repeat 0 8px;
}
