@font-face {
  font-family: "Gilroy";
  src:
    url("web/gilroyextrabold.woff"),
    url("web/gilroyextrabold.woff2"),
    url("web/gilroylight.woff")
    url("web/gilroylight.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src:
    url("web/opensans.woff"),
    url("web/opensans.woff2"),
    url("web/opensanslight.woff")
    url("web/opensanslight.woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 40px 140px;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
  background-color: #ffffff;
}
.anchor {
  text-decoration: none;
  color: #000000;
}
.anchor:hover,
.anchor:focus {
  color: rgba(0, 0, 0, 0.6);
}
.anchor:active {
  color: rgba(0, 0, 0, 0.3);
}
.lists {
  list-style: none;
}
.main-header {
  background-color: rgb(240, 197, 46, 0.5);
}
.main-footer {
  background-color: #464646;
}
.main-footer p {
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: normal;
  color: #ffffff;
}
.info-links,
.slide a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.footer-user-interactive a {
  color: rgba(255, 255, 255, 0.7);
}
.footer-user-interactive a:hover,
.footer-user-interactive a:focus {
  color: #ffffff;
}
.footer-info-links a {
  color: #ffffff;
}
.footer-info-links a:hover,
.footer-info-links a:focus {
  color: rgba(255, 255, 255, 0.6);
}
.footer-user-interactive a:active,
.footer-info-links a:focus {
  color: rgba(255, 255, 255, 0.3);
}
.popular-description h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000000;
}
.slide-li p:first-child {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
}
.slide-li p:last-child {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}
.category-list a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}
.service-description h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}
.about-us h2,
.contacts h2,
.main-navigation h1 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}
.transport li {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: normal;
  color: #000000;
}
 .pages-links a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
 }
.pages-links a:hover,
.pages-links a:focus {
  color: rgba(0, 0, 0, 0.6);
}
.pages-links a:active {
  color: rgba(0, 0, 0, 0.1);
}
.filter h2,
.items h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
}
.filter-title,
.item-card-anchor {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.filter label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}
.current-page:hover,
.current-page:focus {
  color: #000000;
}
.partners-list li {
  display: inline-block;
}
.partners-list a {
  display: block;
  width: 160px;
  padding: 50px;
}
.partner1 {
  background-image: url("../img/partner-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 140px;
}
.partner2 {
  background-image: url("../img/partner-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 40px;
}
.partner3 {
  background-image: url("../img/partner-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 40px;
}
.partner4 {
  background-image: url("../img/partner-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 100px;
}
.button {
  border: none;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #ffffff;
}
.active-button {
  position: relative;
}
.active-button::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 2px;
  height: 2px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #ffffff;
}
.category-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-list .anchor {
  display: flex;
  padding: 60px;
  background-color: rgb(240, 197, 46, 0.5);
  background-repeat: no-repeat;
  background-position: center;
}

.category1 {
  background-image: url("../img/popular-1.svg");
}
.category2 {
  background-image: url("../img/popular-2.svg");
}
.category3 {
  background-image: url("../img/popular-3.svg");
}
.category4 {
  background-image: url("../img/popular-4.svg");
}
.category5 {
  background-image: url("../img/popular-5.svg");
}
.category6 {
  background-image: url("../img/popular-6.svg");
}
.services-button {
  display: flex;
  justify-content: center;
  border: none;
  min-width: 160px;
  position: relative;
  background-color: transparent;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  padding: 0 10px;
}
.services-button::before {
  position: absolute;
  top: 8px;
  content: "";
  padding: 4px 80px;
  background-color: #f0c52e;
  z-index:-1;
}
.filter-button {
  min-width: 200px;
}
.filter-button::before {
  padding: 4px 100px;
}
.info-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 8px;
  background-color: #f0c52e;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
.catalog-button {
  margin-left: 16px;
  border: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url(../img/plus.svg);
  opacity: 0.3;
}
.sort {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.3);
}
.sort-active {
  color: #000000;
}
.pagination-anchor {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.page-numbers {
  color: rgba(0, 0, 0, 0.3);
}
.pagination-item-current .pagination-anchor {
  color: #000000;
}
.social{
  display: flex;
  justify-content: center;
}
.social a {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;

}
.fb {
  margin-right: 23px;
  background-image: url(../img/fb.svg);
}
.instagram {
  margin-right: 22px;
  background-image: url(../img/instagram.svg);
}
.twitter {
  background-image: url(../img/twitter.svg);
}
.feedback-button {
  min-width: 260px;
}
.feedback-button::before {
  padding: 4px 130px;
}
.login-anchor {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding-left: 26px;
}
.compare-anchor {
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 20px;
}
.cart-anchor {
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: 0 1px;
  padding-left: 24px;
}
.footer-login-anchor {
  background-image: url(../img/footer-user.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  padding-left: 26px;
}
.footer-compare-anchor {
  background-image: url(../img/footer-compare.svg);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 20px;
}
.footer-cart-anchor {
  background-image: url(../img/footer-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 1px;
  padding-left: 24px;
}
.logo-anchor:hover,
.logo-anchor:focus {
  opacity: 0.6;
}
.logo-anchor:active {
  opacity: 0.3;
}
.search-field {
  border: none;
  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  padding-left: 36px;
  font-family: "OpenSans", "Arial", sans-serif;
}
.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.search-field:focus {
  color: inherit;
  border-bottom: 2px solid #000000;
  width: 441px;
  outline: 0;
}
.search-button {
  display: none;
}
.search-field:focus + .search-button {
  dispaly: block;
}
